.panel-default {
	border-color: #909090;
}

.panel-default > .panel-heading {
	font-size: 1.5em;
	text-align: center;
	color: #fff;
	background-color: #4d4d4d;
	border-color: #4d4d4d;
}

.panel-body {
	position: relative;
}

.fa-trash-o {
  position: absolute;
  right: 1em;
  top: -1.55em;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.64);
}

.fa-trash-o:hover {
	cursor: pointer;
	opacity: .7;
}

.timestamp {
	color: rgba(34, 34, 34, 0.47);
}