.single-article > h2 {
	text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 1em;
}

.single-body {
  width: 70%;
  margin: auto;
  margin-top: 2em;
  color: #9c9c9c;
  text-align: justify;
}

.single-body hr {
	opacity: .4;
	width: 80%;
}

figure {
  text-align: center;
}

.article-previous {
  width: 70%;
  margin: auto;
  margin-bottom: 1.5em;
}

.article-previous li a {
  border: none;
  background-color: transparent;
  color: white;
}

.article-previous li a:hover {
  border: none;
  background-color: transparent;
  opacity: .7;
}