.page-header {
	border-bottom: 1px solid #909090;
}

.page-header h1 {
	font-size: 25px;
	margin-bottom: 0;
}

.public-DraftEditorPlaceholder-root {
	position: absolute;
	pointer-events: none;
	color: #949292;
}
