.single-article {
	font-family: 'Signika', sans-serif;
}

.single-article > h2 {
	text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 1em;
}

.single-article > p {
  text-align: center;
}

.single-body {
  width: 70%;
  margin: auto;
  margin-top: 2em;
  color: #9c9c9c;
  text-align: justify;
	font-weight: 300;
	font-size: 1.1em;
}

.single-body hr {
	opacity: .4;
	width: 80%;
}

figure {
  text-align: center;
}

.article-previous {
  width: 70%;
  margin: auto;
  margin-bottom: 1.5em;
}

.article-previous li a {
  border: none;
  background-color: transparent;
  color: white;
}

.article-previous li a:hover {
  border: none;
  background-color: transparent;
  opacity: .7;
}

.single-body-edit {
  width: 70%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.single-body-edit-textarea {
  background-color: #828282;
  padding: 1em;
  border-radius: 3px;
  color: white;
}

.save-edits {
  color: #d2d2d2;
  border: 1.5px solid #9c9c9c;
  width: 12%;
  text-align: center;
  padding: 0.3em;
  border-radius: 4px;
  margin: auto;
  margin-top: 2em;
  text-transform: uppercase;
  opacity: .7;
  letter-spacing: 1px;
  font-size: 1.3em;
}

.save-edits:hover {
  cursor: pointer;
  opacity: .5;
}

.single-comments {
  width: 70%;
  margin: auto;
}

.single-comments h4 {
  text-align: center;
  color: #9c9c9c;
}

.single-comments p {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}
