.single-article > h2 {
	text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 1em;
}

.single-body {
  width: 70%;
  margin: auto;
  margin-top: 2em;
  color: #9c9c9c;
  text-align: justify;
}

.single-body hr {
	opacity: .4;
	width: 80%;
}