.edit-mode {
	text-align: right;
  margin-right: 2em;
  margin-top: 2em;	
  position: absolute;
  top: 0;
  right: 10px;
}

.edit-mode span {
  color: white;
  border: 1px solid white;
  padding: 7px;
  border-radius: 2px;
}

.edit-mode span:hover {
  cursor: pointer;
}

#add-article, .form-horizontal {
  width: 60%;
  margin: auto;
  margin-top: 1em;
}