.App {
  width: 60%;
  margin: auto;
  margin-top: 1em;
}

.button-wrapper {
  text-align: right;
}

.button-wrapper .btn-default {
  background-color: transparent;
  color: #fff;
}

.button-wrapper .btn-default:hover {
  opacity: .6;
}

.title {
	border: none;
}

.title h1 {
	text-align: center;
	font-weight: 900;
  color: #fff;
  margin-top: -1em;
  margin-bottom: 1em;
}

.btn-custom {
	color: #777;
	margin-bottom: 1em;
  background-color: transparent;
  padding: 6px 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-custom:hover {
	background-color: unset;
	color: unset;
	opacity: .7;
}

.btn-custom.active {
	color: #5587a7;
}

.nothingness {
  color: rgba(255, 255, 255, 0.15);
  font-family: Helvetica Neue;
  font-size: 1.6em;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 3em;
}