.App {
  width: 500px;
  margin: auto;
  margin-top: 1em;
}

.title {
	border: none;
}

.title h1 {
	text-align: center;
	font-weight: 900;
}

.toolbar {
	border: none;
	color: #bfbfbf;
	margin-bottom: 1em;
}

.toolbar:hover {
	background-color: unset;
	color: unset;
	opacity: .7;
}
